-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."MessageRole" AS ENUM ('user', 'assistant');

-- CreateEnum
CREATE TYPE "public"."SessionStatus" AS ENUM ('active', 'transferred_whatsapp', 'closed');

-- CreateTable
CREATE TABLE "public"."chat_messages" (
    "id" TEXT NOT NULL,
    "sessionId" TEXT NOT NULL,
    "role" "public"."MessageRole" NOT NULL,
    "content" VARCHAR(4000) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "chat_messages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."chat_sessions" (
    "id" TEXT NOT NULL,
    "sessionId" TEXT NOT NULL,
    "status" "public"."SessionStatus" NOT NULL DEFAULT 'active',
    "transferredTo" TEXT,
    "pageUrl" TEXT,
    "userAgent" TEXT,
    "ip" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "chat_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."contact_submissions" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "company" TEXT,
    "email" TEXT NOT NULL,
    "phone" TEXT,
    "country" TEXT,
    "service" TEXT,
    "budget" TEXT,
    "message" TEXT NOT NULL,
    "hasVoice" BOOLEAN NOT NULL DEFAULT false,
    "fileCount" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "contact_submissions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."newsletter_subscribers" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "newsletter_subscribers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."staff" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "role" TEXT NOT NULL,
    "whatsappNumber" TEXT NOT NULL,
    "whatsappGreeting" TEXT NOT NULL DEFAULT 'Hi! I''d like to discuss a project with Logicsoft Technologies.',
    "avatarInitials" VARCHAR(2) NOT NULL,
    "avatarColor" TEXT NOT NULL DEFAULT '#1f6fb2',
    "isOnline" BOOLEAN NOT NULL DEFAULT true,
    "workingHoursStart" INTEGER NOT NULL DEFAULT 8,
    "workingHoursEnd" INTEGER NOT NULL DEFAULT 18,
    "showInWidget" BOOLEAN NOT NULL DEFAULT true,
    "order" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "staff_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "chat_sessions_createdAt_idx" ON "public"."chat_sessions"("createdAt" DESC);

-- CreateIndex
CREATE UNIQUE INDEX "chat_sessions_sessionId_key" ON "public"."chat_sessions"("sessionId" ASC);

-- CreateIndex
CREATE INDEX "chat_sessions_status_createdAt_idx" ON "public"."chat_sessions"("status" ASC, "createdAt" DESC);

-- CreateIndex
CREATE INDEX "contact_submissions_createdAt_idx" ON "public"."contact_submissions"("createdAt" DESC);

-- CreateIndex
CREATE INDEX "newsletter_subscribers_createdAt_idx" ON "public"."newsletter_subscribers"("createdAt" DESC);

-- CreateIndex
CREATE UNIQUE INDEX "newsletter_subscribers_email_key" ON "public"."newsletter_subscribers"("email" ASC);

-- CreateIndex
CREATE INDEX "staff_showInWidget_order_idx" ON "public"."staff"("showInWidget" ASC, "order" ASC);

-- AddForeignKey
ALTER TABLE "public"."chat_messages" ADD CONSTRAINT "chat_messages_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES "public"."chat_sessions"("sessionId") ON DELETE CASCADE ON UPDATE CASCADE;

